#############################################################################################
#                                                                                           #
#                                       ALTIUM DESIGNER                                     #
#                                                                                           #
#############################################################################################
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb

#############################################################################################
#                                                                                           #
#                                   STM32 CubeIDE (Eclipse)                                 #
#                                                                                           #
#############################################################################################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath